nav {
     position: sticky;
    top: 79px;
    z-index: 1000;
    box-sizing: border-box;
    margin-left: -8px;
    padding: 0;
    margin-right: 0 px;
}

.navbar {
    background-color: #610a76;
    
    /* border-radius: 5px; */
   
    list-style-type: none;
   
}
 li {
    float: left;
   
    
}
li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border:none;
     padding : 15px 22px  19px 28px;
    
    text-align: center;
}

 li a:hover{
    color: red;
    cursor: pointer;
}
li .dropdown {
    display: inline-block;
    position: relative;
   
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #610a76;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #610a76;
    z-index: 999;
    
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 5px 22px  19px 28px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #370345;}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar::after {
  content: "";
  display: block;
  clear: both;
}
.searchbar {
    float: right;
    padding: 14px 2px;
    margin-right: 2px;
    border: none;
    position: relative;
    
}
.searchbtn {
    float: right;
    padding:5px 21px;
    margin: 10px;
    background-color: rgb(255, 0, 76);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.searchbtn:hover {
    background-color: hsl(0, 93%, 28%);
    color: rgb(200, 195, 195);
}
ul {
    margin: 0;
    padding: 0;
}
 
img {
    width: 50px;
    height: 50px;
   
    /* display: flex;
    align-items: left; */
} 
p {
    /* color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    margin: 0; */
    padding-left: 5px; 
   

 }
.title {
    
    align-items: center;
    
    background-color:#760c90;
    position:sticky;
    color: white;
     font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    display: flex;
    
   
   
}
body {
    
  height: 3000px; /* Set a fixed height for the container */
  overflow-y: auto; /* Adds a vertical scrollbar only when needed */
  /* or use overflow-y: scroll; to always show the scrollbar */
  width: 100%; /* Optional: set width */
  margin: 0;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays above other content */
    box-sizing: border-box;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: 0px;
    padding: 0;
    
}
.video-wrapper {
  position: relative;  
  width: 100%;
  height: 100vh;
}

   

video {
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding : 0;
    object-fit:cover;
    
    z-index: 0; /*  Ensure the video stays behind other content */
 }


.overlay-text {
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size:6vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2; /* Ensure the text stays above the video */
   
}